sphinx
myst-parser
pydata_sphinx_theme
sphinx-copybutton
sphinxcontrib-mermaid
sphinx-autobuild
autodoc_pydantic
-e submodules/edutap.wallet_google
git+https://github.com/edutap-eu/edutap.wallet_apple.git